@import "tailwindcss";

.shake{
  animation-name: shakingAnimation;
  animation-iteration-count: 1;
  animation-duration: 400ms;
}

@keyframes shakingAnimation {
    0%{transform: translateX(0);}
   20%{transform: translateX(-6px);}
   40%{transform: translateX(6px);}
   60%{transform: translateX(-4px);}
   80%{transform: translateX(4px);}
  100%{transform: translateX(0);}
}
