@import "tailwindcss";



.form{
    @apply flex flex-col gap-2;
}



.formWrapper{
    @apply h-screen flex justify-center items-center;
}

.formHeading{
    @apply text-4xl py-2 w-full text-center font-semibold;
}

.inputs{
    @apply   border-green-800 border-2 rounded-[10px] text-center min-[790px]:w-[30vw] min-[430px]:w-[50vw]  w-[90vw] py-2 px-2  placeholder-gray-400;
}

.inputWrapper{
    @apply flex  flex-col w-full px-2;
}

.inputLabel{
    @apply py-2;
}

.passwordUtility{
    @apply text-[12px];
}

.button{
    @apply rounded-2xl bg-green-800 text-white text-center mx-2  py-2;
}

.utilityButton{
    @apply w-full px-2  py-2 flex gap-2;
}