@import "tailwindcss";


.loadingMainText::after{
  content :"";
  animation-name: loadingnAnimation;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
@keyframes loadingAnimation {
      0%{ content:"."}
     25%{ content:".."}
     50%{ content:"..."}
     75%{ content:".."}
    100%{ content:"."}
}